* {
    margin: 0;
    padding: 0;
    font-size: inherit;
    color: inherit;
    -webkit-font-smoothing: antialiased;
    /*color: blue;*/
}
.container {
    max-width: 1140px;
    margin: auto;
}
.ui-accordion-header {
    background-color: #fce7f2;
    color: #860da6;
}
.ui-accordion-content-active {
    background-color: #fef5fa;
    color: #868284;
}
.ui-accordion-header-icon {
    float: right;
}
.ui-icon{
    position: absolute;
    right: 10px;
    top: 40%;
    width: 32px;
    height: 17px;
}
.ui-state-active .ui-icon, .ui-button:active .ui-icon {
    background-image: url("arow.png");
    transform: rotate(90deg);
    background-position: 5px;
}
.ui-icon-triangle-1-e {
    background-image: url("arow.png");
    background-position: 5px;
}
.ui-accordion .ui-accordion-header:before{
    content: "";
    display: inline-block;
    width: 4px;
    height: 4px;
    background-color: #860da6;
    border-radius: 50%;
    margin-right: 7px;
    position: absolute;
    top: 17px;
    left: .35rem;
}
h3 {
    font-weight: 600;
}